<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLLOCATION">
            <Component Id="Autofac.dll" Guid="{23AEAF44-72BF-4FE4-B3CA-3AA6524EC424}">
                <File Id="Autofac.dll" KeyPath="yes" Source="$(var.TentacleSource)\Autofac.dll" />
            </Component>
            <Component Id="BouncyCastle.Crypto.dll" Guid="{E82C244F-66B3-459C-AEF0-58DB41729EEE}">
                <File Id="BouncyCastle.Crypto.dll" KeyPath="yes" Source="$(var.TentacleSource)\BouncyCastle.Crypto.dll" />
            </Component>
            <Component Id="FluentValidation.dll" Guid="{484DAB20-FFB3-4562-B9DF-5EA711767813}">
                <File Id="FluentValidation.dll" KeyPath="yes" Source="$(var.TentacleSource)\FluentValidation.dll" />
            </Component>
            <Component Id="Halibut.dll" Guid="{6D30E725-4DC2-4F72-BEBE-F2BF9B0E5B2E}">
                <File Id="Halibut.dll" KeyPath="yes" Source="$(var.TentacleSource)\Halibut.dll" />
            </Component>
            <Component Id="Harden_InstallationDirectory.ps1" Guid="{D09372C5-E971-4C36-A3C8-C964F2E39EA8}">
                <File Id="Harden_InstallationDirectory.ps1" KeyPath="yes" Source="$(var.TentacleSource)\Harden-InstallationDirectory.ps1" />
            </Component>
            <Component Id="MaterialDesignColors.dll" Guid="{D09E7F09-A9B9-4457-84E9-82729DDDB669}">
                <File Id="MaterialDesignColors.dll" KeyPath="yes" Source="$(var.TentacleSource)\MaterialDesignColors.dll" />
            </Component>
            <Component Id="MaterialDesignThemes.Wpf.dll" Guid="{594167D7-AD67-4F30-99E5-EE2A819FB610}">
                <File Id="MaterialDesignThemes.Wpf.dll" KeyPath="yes" Source="$(var.TentacleSource)\MaterialDesignThemes.Wpf.dll" />
            </Component>
            <Component Id="Microsoft.Win32.TaskScheduler.dll" Guid="{FA8791E7-38BE-46CD-B3AD-C3494AAE8F31}">
                <File Id="Microsoft.Win32.TaskScheduler.dll" KeyPath="yes" Source="$(var.TentacleSource)\Microsoft.Win32.TaskScheduler.dll" />
            </Component>
            <Component Id="Newtonsoft.Json.Bson.dll" Guid="{11C830D0-041B-4CBA-A169-F060B4C386FB}">
                <File Id="Newtonsoft.Json.Bson.dll" KeyPath="yes" Source="$(var.TentacleSource)\Newtonsoft.Json.Bson.dll" />
            </Component>
            <Component Id="Newtonsoft.Json.dll" Guid="{545F7A9C-EF7B-46F9-9553-5810F0CD35EC}">
                <File Id="Newtonsoft.Json.dll" KeyPath="yes" Source="$(var.TentacleSource)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="Nito.AsyncEx.Concurrent.dll" Guid="{C3467F56-CFE4-454A-BB48-67B9E716604C}">
                <File Id="Nito.AsyncEx.Concurrent.dll" KeyPath="yes" Source="$(var.TentacleSource)\Nito.AsyncEx.Concurrent.dll" />
            </Component>
            <Component Id="Nito.AsyncEx.dll" Guid="{5A00A638-801F-4A82-ABC1-C985B0A2CD19}">
                <File Id="Nito.AsyncEx.dll" KeyPath="yes" Source="$(var.TentacleSource)\Nito.AsyncEx.dll" />
            </Component>
            <Component Id="Nito.AsyncEx.Enlightenment.dll" Guid="{B7876BEC-DC41-430A-94FA-8ECEAE36B348}">
                <File Id="Nito.AsyncEx.Enlightenment.dll" KeyPath="yes" Source="$(var.TentacleSource)\Nito.AsyncEx.Enlightenment.dll" />
            </Component>
            <Component Id="NLog.dll" Guid="{20AAEAC3-537C-4C9B-8B3D-E9EE04AC68B6}">
                <File Id="NLog.dll" KeyPath="yes" Source="$(var.TentacleSource)\NLog.dll" />
            </Component>
            <Component Id="NuGet.Common.dll" Guid="{04CF2C1A-EB50-4F43-8E9D-90ADA7F489AC}">
                <File Id="NuGet.Common.dll" KeyPath="yes" Source="$(var.TentacleSource)\NuGet.Common.dll" />
            </Component>
            <Component Id="NuGet.Frameworks.dll" Guid="{7D0CAF01-812B-4D23-B0C6-FEEB62521193}">
                <File Id="NuGet.Frameworks.dll" KeyPath="yes" Source="$(var.TentacleSource)\NuGet.Frameworks.dll" />
            </Component>
            <Component Id="NuGet.Packaging.Core.dll" Guid="{6E533152-281E-4BD9-A8C6-6F17DCC8D4CF}">
                <File Id="NuGet.Packaging.Core.dll" KeyPath="yes" Source="$(var.TentacleSource)\NuGet.Packaging.Core.dll" />
            </Component>
            <Component Id="NuGet.Packaging.Core.Types.dll" Guid="{82D5A5D4-4AA4-4E60-93C1-2C6AC2886F4B}">
                <File Id="NuGet.Packaging.Core.Types.dll" KeyPath="yes" Source="$(var.TentacleSource)\NuGet.Packaging.Core.Types.dll" />
            </Component>
            <Component Id="NuGet.Packaging.dll" Guid="{A48B464B-33E9-49C5-9CFC-A88753FEF3E6}">
                <File Id="NuGet.Packaging.dll" KeyPath="yes" Source="$(var.TentacleSource)\NuGet.Packaging.dll" />
            </Component>
            <Component Id="NuGet.Versioning.dll" Guid="{E1CD254D-786C-4E83-932E-69FFD553E5B5}">
                <File Id="NuGet.Versioning.dll" KeyPath="yes" Source="$(var.TentacleSource)\NuGet.Versioning.dll" />
            </Component>
            <Component Id="Octopus.Client.dll" Guid="{2B9FCB1D-242D-4740-9C11-B41C0B2424DD}">
                <File Id="Octopus.Client.dll" KeyPath="yes" Source="$(var.TentacleSource)\Octopus.Client.dll" />
            </Component>
            <Component Id="Octopus.Configuration.dll" Guid="{8361E2F7-6F63-4562-BE15-F120C0EC6C28}">
                <File Id="Octopus.Configuration.dll" KeyPath="yes" Source="$(var.TentacleSource)\Octopus.Configuration.dll" />
            </Component>
            <Component Id="Octopus.CoreUtilities.dll" Guid="{0AF878E0-E558-4B38-854C-B24C13D0DB33}">
                <File Id="Octopus.CoreUtilities.dll" KeyPath="yes" Source="$(var.TentacleSource)\Octopus.CoreUtilities.dll" />
            </Component>
            <Component Id="Octopus.Diagnostics.dll" Guid="{DE7F8048-5A7A-4649-8FEC-9C1A0815DB26}">
                <File Id="Octopus.Diagnostics.dll" KeyPath="yes" Source="$(var.TentacleSource)\Octopus.Diagnostics.dll" />
            </Component>
            <Component Id="Octopus.Manager.Tentacle.exe" Guid="{62D6591E-3C6F-4A95-8D42-1EA90C092C83}">
                <File Id="Octopus.Manager.Tentacle.exe" KeyPath="yes" Source="$(var.TentacleSource)\Octopus.Manager.Tentacle.exe" />
            </Component>
            <Component Id="Octopus.Manager.Tentacle.exe.config" Guid="{F6CC5286-A278-4EB9-AEA7-8EF123D2A403}">
                <File Id="Octopus.Manager.Tentacle.exe.config" KeyPath="yes" Source="$(var.TentacleSource)\Octopus.Manager.Tentacle.exe.config" />
            </Component>
            <Component Id="Octopus.Manager.Tentacle.pdb" Guid="{4A001E16-80CA-4BB5-8AB5-BF49059269DE}">
                <File Id="Octopus.Manager.Tentacle.pdb" KeyPath="yes" Source="$(var.TentacleSource)\Octopus.Manager.Tentacle.pdb" />
            </Component>
            <Component Id="Octopus.Shared.dll" Guid="{8FD1F80E-CA61-4D53-B869-CFCB94455A5D}">
                <File Id="Octopus.Shared.dll" KeyPath="yes" Source="$(var.TentacleSource)\Octopus.Shared.dll" />
            </Component>
            <Component Id="Octopus.Time.dll" Guid="{582DCC97-4B75-47D5-84B1-91C10C852191}">
                <File Id="Octopus.Time.dll" KeyPath="yes" Source="$(var.TentacleSource)\Octopus.Time.dll" />
            </Component>
            <Component Id="Polly.dll" Guid="{DDB682D5-6510-4715-8D68-01871FEE6F88}">
                <File Id="Polly.dll" KeyPath="yes" Source="$(var.TentacleSource)\Polly.dll" />
            </Component>
            <Component Id="System.Runtime.InteropServices.RuntimeInformation.dll" Guid="{64F46EA9-E3B6-44DE-82AF-800E2C31FBEB}">
                <File Id="System.Runtime.InteropServices.RuntimeInformation.dll" KeyPath="yes" Source="$(var.TentacleSource)\System.Runtime.InteropServices.RuntimeInformation.dll" />
            </Component>
            <Component Id="System.ValueTuple.dll" Guid="{7A65446A-2E1C-4D2A-BBD9-0326FF81A3FE}">
                <File Id="System.ValueTuple.dll" KeyPath="yes" Source="$(var.TentacleSource)\System.ValueTuple.dll" />
            </Component>
            <Component Id="System.Windows.Controls.Input.Toolkit.dll" Guid="{68D88A26-C6F0-4852-8504-442A0A81D9E4}">
                <File Id="System.Windows.Controls.Input.Toolkit.dll" KeyPath="yes" Source="$(var.TentacleSource)\System.Windows.Controls.Input.Toolkit.dll" />
            </Component>
            <Component Id="System.Windows.Controls.Layout.Toolkit.dll" Guid="{48942B48-DCC3-40C3-92B4-03C6B6218CB5}">
                <File Id="System.Windows.Controls.Layout.Toolkit.dll" KeyPath="yes" Source="$(var.TentacleSource)\System.Windows.Controls.Layout.Toolkit.dll" />
            </Component>
            <Component Id="Tentacle.exe" Guid="{D7317F51-0513-4F98-AA61-A1F7D78218BA}">
                <File Id="Tentacle.exe" KeyPath="yes" Source="$(var.TentacleSource)\Tentacle.exe" />
            </Component>
            <Component Id="Tentacle.exe.config" Guid="{9017A7C8-482C-41E2-815D-D2C559D126EC}">
                <File Id="Tentacle.exe.config" KeyPath="yes" Source="$(var.TentacleSource)\Tentacle.exe.config" />
            </Component>
            <Component Id="Tentacle.exe.manifest" Guid="{10E3DC2A-6E18-4D11-9ED6-DE047F1FCC64}">
                <File Id="Tentacle.exe.manifest" KeyPath="yes" Source="$(var.TentacleSource)\Tentacle.exe.manifest" />
            </Component>
            <Component Id="Tentacle.exe.nlog" Guid="{04DCC1FD-4E42-4989-8986-3F95230DF9ED}">
                <File Id="Tentacle.exe.nlog" KeyPath="yes" Source="$(var.TentacleSource)\Tentacle.exe.nlog" />
            </Component>
            <Component Id="Tentacle.pdb" Guid="{97F024DB-2FE1-49F8-BF8A-4BD9A3BC5B24}">
                <File Id="Tentacle.pdb" KeyPath="yes" Source="$(var.TentacleSource)\Tentacle.pdb" />
            </Component>
            <Component Id="WPFToolkit.dll" Guid="{D0253DC3-A106-4FDC-AAD2-F4A644890BF7}">
                <File Id="WPFToolkit.dll" KeyPath="yes" Source="$(var.TentacleSource)\WPFToolkit.dll" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="TentacleComponents">
            <ComponentRef Id="Autofac.dll" />
            <ComponentRef Id="BouncyCastle.Crypto.dll" />
            <ComponentRef Id="FluentValidation.dll" />
            <ComponentRef Id="Halibut.dll" />
            <ComponentRef Id="Harden_InstallationDirectory.ps1" />
            <ComponentRef Id="MaterialDesignColors.dll" />
            <ComponentRef Id="MaterialDesignThemes.Wpf.dll" />
            <ComponentRef Id="Microsoft.Win32.TaskScheduler.dll" />
            <ComponentRef Id="Newtonsoft.Json.Bson.dll" />
            <ComponentRef Id="Newtonsoft.Json.dll" />
            <ComponentRef Id="Nito.AsyncEx.Concurrent.dll" />
            <ComponentRef Id="Nito.AsyncEx.dll" />
            <ComponentRef Id="Nito.AsyncEx.Enlightenment.dll" />
            <ComponentRef Id="NLog.dll" />
            <ComponentRef Id="NuGet.Common.dll" />
            <ComponentRef Id="NuGet.Frameworks.dll" />
            <ComponentRef Id="NuGet.Packaging.Core.dll" />
            <ComponentRef Id="NuGet.Packaging.Core.Types.dll" />
            <ComponentRef Id="NuGet.Packaging.dll" />
            <ComponentRef Id="NuGet.Versioning.dll" />
            <ComponentRef Id="Octopus.Client.dll" />
            <ComponentRef Id="Octopus.Configuration.dll" />
            <ComponentRef Id="Octopus.CoreUtilities.dll" />
            <ComponentRef Id="Octopus.Diagnostics.dll" />
            <ComponentRef Id="Octopus.Manager.Tentacle.exe" />
            <ComponentRef Id="Octopus.Manager.Tentacle.exe.config" />
            <ComponentRef Id="Octopus.Manager.Tentacle.pdb" />
            <ComponentRef Id="Octopus.Shared.dll" />
            <ComponentRef Id="Octopus.Time.dll" />
            <ComponentRef Id="Polly.dll" />
            <ComponentRef Id="System.Runtime.InteropServices.RuntimeInformation.dll" />
            <ComponentRef Id="System.ValueTuple.dll" />
            <ComponentRef Id="System.Windows.Controls.Input.Toolkit.dll" />
            <ComponentRef Id="System.Windows.Controls.Layout.Toolkit.dll" />
            <ComponentRef Id="Tentacle.exe" />
            <ComponentRef Id="Tentacle.exe.config" />
            <ComponentRef Id="Tentacle.exe.manifest" />
            <ComponentRef Id="Tentacle.exe.nlog" />
            <ComponentRef Id="Tentacle.pdb" />
            <ComponentRef Id="WPFToolkit.dll" />
        </ComponentGroup>
    </Fragment>
</Wix>