*.bak
*.[Cc]ache
*.tmp
*.user
*.suo
*.vshost.*
*DXCore.Solution
*_i.c
*_p.c
*.log
CVS/
PrecompiledWeb/
UpgradeLog*.*
[Bb]in/
[Dd]ebug/
[Oo]bj/
[Rr]elease/
[Tt]humbs.db
_UpgradeReport_Files
_[Rr]e[Ss]harper.*/
lint.db
source/Octopus.Tentacle/Applications
source/Applications
source/Data
_NCrunch*
desktop.ini
source/packages
*.orig

/.idea/
*.ncrunchproject
*.ncrunchsolution
source/Octopus.v2.ncrunchsolution
source/_ReSharper**
source/_ReSharper*

*.sublime-project
*.sublime-workspace

.vs

.vscode/
*.received.*
source/.idea
source/Octopus.sln.iml

launchSettings.json

!tools/
tools/*
!tools/debian-tools/

_artifacts
_build
