version: '3'
services:

    octopusdeploy-tentacle-linux:
        build:
            context: .
            dockerfile: ./docker/linux/Dockerfile
            args:
                BUILD_DATE: ${BUILD_DATE:?err}
                BUILD_NUMBER: ${BUILD_NUMBER:?err}
                BUILD_ARCH: ${BUILD_ARCH:?err}
        image: docker.packages.octopushq.com/octopusdeploy/tentacle:${BUILD_NUMBER?err}-linux

    octopusdeploy-tentacle-windows-2019:
        build:
            context: .
            dockerfile: ./docker/windows/Dockerfile
            args:
                BUILD_DATE: ${BUILD_DATE:?err}
                BUILD_NUMBER: ${BUILD_NUMBER:?err}
        image: docker.packages.octopushq.com/octopusdeploy/tentacle:${BUILD_NUMBER?err}-windows-2019
