<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="nuget.packages.octopushq.com" value="https://nuget.packages.octopushq.com/" />
    <add key="feedz.io" value="https://f.feedz.io/octopus-deploy/dependencies/nuget" />
  </packageSources>
</configuration>
