<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <clear />
    <add key="NuGet.org v3" value="https://api.nuget.org/v3/index.json" />
    <add key="feedz.io" value="https://f.feedz.io/octopus-deploy/dependencies/nuget/index.json" />
  </packageSources>
  <packageSourceMapping>
    <clear />
    <packageSource key="feedz.io">
      <package pattern="Octopus.Time" />
      <package pattern="NuGet.Packaging*" />
      <package pattern="NuGet.Common" />
      <package pattern="NuGet.Frameworks" />
      <package pattern="NuGet.Versioning" />
    </packageSource>
    <packageSource key="NuGet.org v3">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
