<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net45" />
  <package id="Halibut" version="2.3.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="Nito.AsyncEx" version="3.0.1" targetFramework="net45" />
  <package id="NLog" version="4.0.1" targetFramework="net45" />
  <package id="NuGet.Common" version="3.4.3" targetFramework="net45" />
  <package id="NuGet.Frameworks" version="3.4.3" targetFramework="net45" />
  <package id="NuGet.Logging" version="3.4.3" targetFramework="net45" />
  <package id="NuGet.Packaging" version="3.4.3" targetFramework="net45" />
  <package id="NuGet.Packaging.Core" version="3.4.3" targetFramework="net45" />
  <package id="NuGet.Packaging.Core.Types" version="3.4.3" targetFramework="net45" />
  <package id="NuGet.Versioning" version="3.4.3" targetFramework="net45" />
  <package id="Octopus.Client" version="3.6.0-dawops-addstep0049" targetFramework="net45" />
</packages>