<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net45" />
  <package id="Halibut" version="2.4.2" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="Nito.AsyncEx" version="3.0.1" targetFramework="net45" />
  <package id="NLog" version="4.0.1" targetFramework="net45" />
  <package id="NuGet.Common" version="3.5.0-octopus-37028" targetFramework="net45" />
  <package id="NuGet.Frameworks" version="3.5.0-octopus-37028" targetFramework="net45" />
  <package id="NuGet.Packaging" version="3.5.0-octopus-37028" targetFramework="net45" />
  <package id="NuGet.Packaging.Core" version="3.5.0-octopus-37028" targetFramework="net45" />
  <package id="NuGet.Packaging.Core.Types" version="3.5.0-octopus-37028" targetFramework="net45" />
  <package id="NuGet.Versioning" version="3.5.0-octopus-37028" targetFramework="net45" />
  <package id="Octopus.Configuration" version="1.0.10" targetFramework="net45" />
  <package id="Octopus.Data" version="1.0.18" targetFramework="net45" />
  <package id="Octopus.Diagnostics" version="1.0.11" targetFramework="net45" />
  <package id="Octopus.Time" version="1.0.8" targetFramework="net45" />
  <package id="System.Collections" version="4.0.11" targetFramework="net45" />
</packages>