@page "/"
@using Octopus.Shared.Configuration.Instances;
@inject IApplicationInstanceStore instanceStore

<h1>Hello, world!</h1>

Welcome to your new app.

@code {

    protected override Task OnParametersSetAsync()
    {
        var existing = instanceStore.ListInstances();
        return base.OnParametersSetAsync();
    }
}