<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings></appSettings>
  <system.diagnostics>
    <sources>
      <source name="Halibut">
        <listeners>
          <add name="nlog" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="Halibut" value="Verbose" />
    </switches>
    <sharedListeners>
      <add name="nlog" type="NLog.NLogTraceListener, NLog" />
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
  <runtime>
    <AppContextSwitchOverrides value="Switch.System.IO.UseLegacyPathHandling=false;Switch.System.IO.BlockLongPaths=false" />
    <generatePublisherEvidence enabled="false" />
  </runtime>
</configuration>
