<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncStackTraceEx" version="1.0.1.1" targetFramework="net45" />
  <package id="Autofac" version="3.5.2" targetFramework="net45" />
  <package id="FluentValidation" version="5.6.2.0" targetFramework="net45" />
  <package id="Halibut" version="2.6.1" targetFramework="net45" />
  <package id="Nancy" version="1.2.0" targetFramework="net45" />
  <package id="Nancy.Serialization.JsonNet" version="1.2.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="Nito.AsyncEx" version="3.0.1" targetFramework="net45" />
  <package id="NLog" version="4.0.1" targetFramework="net45" />
  <package id="NuGet.Common" version="3.6.0-octopus-58672" targetFramework="net45" />
  <package id="NuGet.Frameworks" version="3.6.0-octopus-58672" targetFramework="net45" />
  <package id="NuGet.Packaging" version="3.6.0-octopus-58672" targetFramework="net45" />
  <package id="NuGet.Packaging.Core" version="3.6.0-octopus-58672" targetFramework="net45" />
  <package id="NuGet.Packaging.Core.Types" version="3.6.0-octopus-58672" targetFramework="net45" />
  <package id="NuGet.Versioning" version="3.6.0-octopus-58672" targetFramework="net45" />
  <package id="Octopus.Client" version="4.19.0" targetFramework="net45" />
  <package id="Octopus.Configuration" version="1.0.11" targetFramework="net45" />
  <package id="Octopus.Diagnostics" version="1.0.12" targetFramework="net45" />
  <package id="Octopus.Shared" version="3.15.8-enh-moveconsoles0011" targetFramework="net45" />
  <package id="Octopus.Time" version="1.0.9" targetFramework="net45" />
  <package id="System.Collections" version="4.0.11" targetFramework="net45" />
  <package id="System.Net.Http" version="4.1.0" targetFramework="net45" />
  <package id="System.Runtime" version="4.1.0" targetFramework="net45" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="net45" />
  <package id="TaskScheduler" version="2.5.21" targetFramework="net45" />
  <package id="WPFToolkit" version="3.5.50211.1" targetFramework="net45" />
</packages>