<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLLOCATION">
            <Component Id="Autofac.dll" Guid="{1E402EFB-DBD1-421B-9D0B-34B61190459A}">
                <File Id="Autofac.dll" KeyPath="yes" Source="$(var.TentacleSource)\Autofac.dll" />
            </Component>
            <Component Id="BouncyCastle.Crypto.dll" Guid="{3F4CB346-92C3-4668-86FD-E840FACE2951}">
                <File Id="BouncyCastle.Crypto.dll" KeyPath="yes" Source="$(var.TentacleSource)\BouncyCastle.Crypto.dll" />
            </Component>
            <Component Id="FluentValidation.dll" Guid="{80BC01E2-BF68-4289-88AA-70B08EBB9C3D}">
                <File Id="FluentValidation.dll" KeyPath="yes" Source="$(var.TentacleSource)\FluentValidation.dll" />
            </Component>
            <Component Id="Halibut.dll" Guid="{E4277C06-B86A-4B74-862F-3499214BD740}">
                <File Id="Halibut.dll" KeyPath="yes" Source="$(var.TentacleSource)\Halibut.dll" />
            </Component>
            <Component Id="Halibut.pdb" Guid="{38889DC6-7A1C-43EF-BA3D-5FCBDE9C5502}">
                <File Id="Halibut.pdb" KeyPath="yes" Source="$(var.TentacleSource)\Halibut.pdb" />
            </Component>
            <Component Id="MaterialDesignColors.dll" Guid="{84B5C1CB-0EEF-45E5-823E-439D4AAB8036}">
                <File Id="MaterialDesignColors.dll" KeyPath="yes" Source="$(var.TentacleSource)\MaterialDesignColors.dll" />
            </Component>
            <Component Id="MaterialDesignColors.pdb" Guid="{7F1A7D3C-361A-4C47-84D1-4978864B1D5C}">
                <File Id="MaterialDesignColors.pdb" KeyPath="yes" Source="$(var.TentacleSource)\MaterialDesignColors.pdb" />
            </Component>
            <Component Id="MaterialDesignThemes.Wpf.dll" Guid="{99853003-2BDE-4748-86F5-9486AC4C67DE}">
                <File Id="MaterialDesignThemes.Wpf.dll" KeyPath="yes" Source="$(var.TentacleSource)\MaterialDesignThemes.Wpf.dll" />
            </Component>
            <Component Id="MaterialDesignThemes.Wpf.pdb" Guid="{FC93295C-73DA-4763-B089-E7C0B138EED8}">
                <File Id="MaterialDesignThemes.Wpf.pdb" KeyPath="yes" Source="$(var.TentacleSource)\MaterialDesignThemes.Wpf.pdb" />
            </Component>
            <Component Id="Microsoft.Win32.TaskScheduler.dll" Guid="{8582B922-B400-4634-868F-DE84B33AF941}">
                <File Id="Microsoft.Win32.TaskScheduler.dll" KeyPath="yes" Source="$(var.TentacleSource)\Microsoft.Win32.TaskScheduler.dll" />
            </Component>
            <Component Id="Newtonsoft.Json.Bson.dll" Guid="{221DC0AE-4BD5-4E04-93D0-24A7757150DA}">
                <File Id="Newtonsoft.Json.Bson.dll" KeyPath="yes" Source="$(var.TentacleSource)\Newtonsoft.Json.Bson.dll" />
            </Component>
            <Component Id="Newtonsoft.Json.dll" Guid="{3C8099B9-3057-4907-8CC3-8ECA2515C834}">
                <File Id="Newtonsoft.Json.dll" KeyPath="yes" Source="$(var.TentacleSource)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="Nito.AsyncEx.Concurrent.dll" Guid="{D9F1FD08-BD8C-4281-B6C8-BE1FCC41C8B8}">
                <File Id="Nito.AsyncEx.Concurrent.dll" KeyPath="yes" Source="$(var.TentacleSource)\Nito.AsyncEx.Concurrent.dll" />
            </Component>
            <Component Id="Nito.AsyncEx.dll" Guid="{118AD4CD-2ECD-495A-88F0-A66E17888755}">
                <File Id="Nito.AsyncEx.dll" KeyPath="yes" Source="$(var.TentacleSource)\Nito.AsyncEx.dll" />
            </Component>
            <Component Id="Nito.AsyncEx.Enlightenment.dll" Guid="{0B843062-F8F4-471B-8462-9BCA373FA5BA}">
                <File Id="Nito.AsyncEx.Enlightenment.dll" KeyPath="yes" Source="$(var.TentacleSource)\Nito.AsyncEx.Enlightenment.dll" />
            </Component>
            <Component Id="NLog.dll" Guid="{CBD01006-C99A-41F3-9931-5EF41595D285}">
                <File Id="NLog.dll" KeyPath="yes" Source="$(var.TentacleSource)\NLog.dll" />
            </Component>
            <Component Id="NuGet.Common.dll" Guid="{8796F96F-87A8-48A1-8FCC-973DDA6632B5}">
                <File Id="NuGet.Common.dll" KeyPath="yes" Source="$(var.TentacleSource)\NuGet.Common.dll" />
            </Component>
            <Component Id="NuGet.Frameworks.dll" Guid="{C5D60F8C-5CBF-4364-832E-4747ED2A2018}">
                <File Id="NuGet.Frameworks.dll" KeyPath="yes" Source="$(var.TentacleSource)\NuGet.Frameworks.dll" />
            </Component>
            <Component Id="NuGet.Packaging.Core.dll" Guid="{88C0B548-88E7-428B-8153-3D41881C46C0}">
                <File Id="NuGet.Packaging.Core.dll" KeyPath="yes" Source="$(var.TentacleSource)\NuGet.Packaging.Core.dll" />
            </Component>
            <Component Id="NuGet.Packaging.Core.Types.dll" Guid="{D9BEF9DA-252E-45B2-8A4D-BBFC9056FF9C}">
                <File Id="NuGet.Packaging.Core.Types.dll" KeyPath="yes" Source="$(var.TentacleSource)\NuGet.Packaging.Core.Types.dll" />
            </Component>
            <Component Id="NuGet.Packaging.dll" Guid="{D083517B-6C7A-4D40-9F79-BC972AA32E4F}">
                <File Id="NuGet.Packaging.dll" KeyPath="yes" Source="$(var.TentacleSource)\NuGet.Packaging.dll" />
            </Component>
            <Component Id="NuGet.Versioning.dll" Guid="{489FBCCC-4CE9-4601-9096-3A5952F2EF3B}">
                <File Id="NuGet.Versioning.dll" KeyPath="yes" Source="$(var.TentacleSource)\NuGet.Versioning.dll" />
            </Component>
            <Component Id="Octopus.Client.dll" Guid="{5BD6EF64-6669-4226-960E-0DBC0B109477}">
                <File Id="Octopus.Client.dll" KeyPath="yes" Source="$(var.TentacleSource)\Octopus.Client.dll" />
            </Component>
            <Component Id="Octopus.Configuration.dll" Guid="{CFD41573-2CD2-4001-8413-C27B29068E4A}">
                <File Id="Octopus.Configuration.dll" KeyPath="yes" Source="$(var.TentacleSource)\Octopus.Configuration.dll" />
            </Component>
            <Component Id="Octopus.Diagnostics.dll" Guid="{DB11ADBF-04A9-4C17-96F2-A2578285BEA8}">
                <File Id="Octopus.Diagnostics.dll" KeyPath="yes" Source="$(var.TentacleSource)\Octopus.Diagnostics.dll" />
            </Component>
            <Component Id="Octopus.Manager.Tentacle.exe" Guid="{55B105C0-3D25-44A6-852E-851C31CBBF47}">
                <File Id="Octopus.Manager.Tentacle.exe" KeyPath="yes" Source="$(var.TentacleSource)\Octopus.Manager.Tentacle.exe" />
            </Component>
            <Component Id="Octopus.Manager.Tentacle.exe.config" Guid="{4C0F6589-04FE-4548-A642-AC823C9990C9}">
                <File Id="Octopus.Manager.Tentacle.exe.config" KeyPath="yes" Source="$(var.TentacleSource)\Octopus.Manager.Tentacle.exe.config" />
            </Component>
            <Component Id="Octopus.Manager.Tentacle.pdb" Guid="{2C9E450E-9606-4A68-9D05-CFDB41FC8019}">
                <File Id="Octopus.Manager.Tentacle.pdb" KeyPath="yes" Source="$(var.TentacleSource)\Octopus.Manager.Tentacle.pdb" />
            </Component>
            <Component Id="Octopus.Shared.dll" Guid="{A03D8CCD-19A2-4F80-8F0E-40F731DE0D11}">
                <File Id="Octopus.Shared.dll" KeyPath="yes" Source="$(var.TentacleSource)\Octopus.Shared.dll" />
            </Component>
            <Component Id="Octopus.Time.dll" Guid="{4FEC2B70-3672-447D-B314-D099A20C3CBC}">
                <File Id="Octopus.Time.dll" KeyPath="yes" Source="$(var.TentacleSource)\Octopus.Time.dll" />
            </Component>
            <Component Id="Polly.dll" Guid="{1F4A5D33-3BDC-430A-B010-0263A460A424}">
                <File Id="Polly.dll" KeyPath="yes" Source="$(var.TentacleSource)\Polly.dll" />
            </Component>
            <Component Id="Polly.pdb" Guid="{6F249BEC-974D-47C0-897E-313F27C6AEE4}">
                <File Id="Polly.pdb" KeyPath="yes" Source="$(var.TentacleSource)\Polly.pdb" />
            </Component>
            <Component Id="System.Runtime.InteropServices.RuntimeInformation.dll" Guid="{8E7E10AD-9349-422E-A252-3D809F6653BA}">
                <File Id="System.Runtime.InteropServices.RuntimeInformation.dll" KeyPath="yes" Source="$(var.TentacleSource)\System.Runtime.InteropServices.RuntimeInformation.dll" />
            </Component>
            <Component Id="System.ValueTuple.dll" Guid="{2B99A017-73C0-44C1-A6C8-C205993DB9F6}">
                <File Id="System.ValueTuple.dll" KeyPath="yes" Source="$(var.TentacleSource)\System.ValueTuple.dll" />
            </Component>
            <Component Id="System.Windows.Controls.Input.Toolkit.dll" Guid="{8ACCA4CD-B5E3-4FFC-AB42-40777434CD7B}">
                <File Id="System.Windows.Controls.Input.Toolkit.dll" KeyPath="yes" Source="$(var.TentacleSource)\System.Windows.Controls.Input.Toolkit.dll" />
            </Component>
            <Component Id="System.Windows.Controls.Layout.Toolkit.dll" Guid="{731D3C32-C7F3-44E5-B394-ED751E3B4625}">
                <File Id="System.Windows.Controls.Layout.Toolkit.dll" KeyPath="yes" Source="$(var.TentacleSource)\System.Windows.Controls.Layout.Toolkit.dll" />
            </Component>
            <Component Id="Tentacle.exe" Guid="{10904C00-0999-4B83-81B9-5EE2FA9ACEB3}">
                <File Id="Tentacle.exe" KeyPath="yes" Source="$(var.TentacleSource)\Tentacle.exe" />
            </Component>
            <Component Id="Tentacle.exe.config" Guid="{23EC0B5A-05EB-4FC2-A135-43029472ABE5}">
                <File Id="Tentacle.exe.config" KeyPath="yes" Source="$(var.TentacleSource)\Tentacle.exe.config" />
            </Component>
            <Component Id="Tentacle.exe.manifest" Guid="{CC33935A-FDF8-4FC6-90D7-1CA54BD4727E}">
                <File Id="Tentacle.exe.manifest" KeyPath="yes" Source="$(var.TentacleSource)\Tentacle.exe.manifest" />
            </Component>
            <Component Id="Tentacle.exe.nlog" Guid="{1A7544D6-2EC4-475B-86E2-E6D8D6FBF616}">
                <File Id="Tentacle.exe.nlog" KeyPath="yes" Source="$(var.TentacleSource)\Tentacle.exe.nlog" />
            </Component>
            <Component Id="Tentacle.pdb" Guid="{A259783B-DCA0-458E-B044-D23F1A174572}">
                <File Id="Tentacle.pdb" KeyPath="yes" Source="$(var.TentacleSource)\Tentacle.pdb" />
            </Component>
            <Component Id="WPFToolkit.dll" Guid="{95249DCF-D637-4334-9806-1FA0493C88A6}">
                <File Id="WPFToolkit.dll" KeyPath="yes" Source="$(var.TentacleSource)\WPFToolkit.dll" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="TentacleComponents">
            <ComponentRef Id="Autofac.dll" />
            <ComponentRef Id="BouncyCastle.Crypto.dll" />
            <ComponentRef Id="FluentValidation.dll" />
            <ComponentRef Id="Halibut.dll" />
            <ComponentRef Id="Halibut.pdb" />
            <ComponentRef Id="MaterialDesignColors.dll" />
            <ComponentRef Id="MaterialDesignColors.pdb" />
            <ComponentRef Id="MaterialDesignThemes.Wpf.dll" />
            <ComponentRef Id="MaterialDesignThemes.Wpf.pdb" />
            <ComponentRef Id="Microsoft.Win32.TaskScheduler.dll" />
            <ComponentRef Id="Newtonsoft.Json.Bson.dll" />
            <ComponentRef Id="Newtonsoft.Json.dll" />
            <ComponentRef Id="Nito.AsyncEx.Concurrent.dll" />
            <ComponentRef Id="Nito.AsyncEx.dll" />
            <ComponentRef Id="Nito.AsyncEx.Enlightenment.dll" />
            <ComponentRef Id="NLog.dll" />
            <ComponentRef Id="NuGet.Common.dll" />
            <ComponentRef Id="NuGet.Frameworks.dll" />
            <ComponentRef Id="NuGet.Packaging.Core.dll" />
            <ComponentRef Id="NuGet.Packaging.Core.Types.dll" />
            <ComponentRef Id="NuGet.Packaging.dll" />
            <ComponentRef Id="NuGet.Versioning.dll" />
            <ComponentRef Id="Octopus.Client.dll" />
            <ComponentRef Id="Octopus.Configuration.dll" />
            <ComponentRef Id="Octopus.Diagnostics.dll" />
            <ComponentRef Id="Octopus.Manager.Tentacle.exe" />
            <ComponentRef Id="Octopus.Manager.Tentacle.exe.config" />
            <ComponentRef Id="Octopus.Manager.Tentacle.pdb" />
            <ComponentRef Id="Octopus.Shared.dll" />
            <ComponentRef Id="Octopus.Time.dll" />
            <ComponentRef Id="Polly.dll" />
            <ComponentRef Id="Polly.pdb" />
            <ComponentRef Id="System.Runtime.InteropServices.RuntimeInformation.dll" />
            <ComponentRef Id="System.ValueTuple.dll" />
            <ComponentRef Id="System.Windows.Controls.Input.Toolkit.dll" />
            <ComponentRef Id="System.Windows.Controls.Layout.Toolkit.dll" />
            <ComponentRef Id="Tentacle.exe" />
            <ComponentRef Id="Tentacle.exe.config" />
            <ComponentRef Id="Tentacle.exe.manifest" />
            <ComponentRef Id="Tentacle.exe.nlog" />
            <ComponentRef Id="Tentacle.pdb" />
            <ComponentRef Id="WPFToolkit.dll" />
        </ComponentGroup>
    </Fragment>
</Wix>