<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSourceMapping>
    <clear />
    <packageSource key="feedz.io">
      <package pattern="Octopus.Time" />
      <package pattern="NuGet.Packaging*" />
      <package pattern="NuGet.Common" />
      <package pattern="NuGet.Frameworks" />
      <package pattern="NuGet.Versioning" />
    </packageSource>
    <packageSource key="NuGet.org v3">
      <package pattern="NuGet.Frameworks" />
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
